* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding: 20px 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row.header {
  justify-content: space-between;
  align-items: center;
}

.logo__box {
  display: flex;
  align-items: center;
}

.logo__text {
  font-size: 19px;
  font-weight: 500;
  color: #0B132A;
  margin-left: 6px;
}

.logo__spn {
  font-weight: 700;
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
}

.nav__item {
  margin: 0 20px;
}

.nav__link {
  font-size: 16px;
  font-weight: 400; 
  color: rgba(0, 0, 0, 0.55);
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #F53838;
}

.active {
  color: #F53838;
}

.active:hover {
  color: #F53838;
}
.sign__list {
  display: flex;
  align-items: center;
}

.sign__item {
  margin: 0 10px;
}

.sign__link {
  text-transform: capitalize;
}

.sign__in {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.sign__in:hover {
  text-decoration: underline;
}

.sign__up {
  font-size: 16px;
  font-weight: 500;
  color: #F53838;
  padding: 8px 30px;
  border: 1px solid #F53838;
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.4s ease;
}

.sign__up:hover {
  background-color: #F53838;
  color: #fff;
}

.row.hero {
  padding: 20px 0 70px 0;
  align-items: center;
}

.hero__content {
  width: 550px;
}

.hero__title {
  font-size: 50px;
  font-weight: 500;
  color: #0b132a;
}

.hero__title span {
  font-weight: 600; 
}

.hero__text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #0b132a;
  margin-bottom: 50px;
}

.hero__text span {
  font-weight: 500;
}

.hero__link {
  background-color: #F53838;
  color: #fff;
  box-shadow: 0 20px 40px rgba(245, 56, 56, 0.35);
  padding: 18px 77px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease;
}

.hero__link:hover {
  background-color: #0B132A;
  color: #fff;
}

.stats {
  padding: 20px;
}

.row.stats {
  justify-content: space-around;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}

.stats__content {
  width: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: right;
}

.stats__icon {
  margin-right: 36.5px;
}

.stats__number {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  color: #0b132a;
  margin-bottom: 5px;
}

.stats__text {
  margin: 0;
  font-size: 20px;
  color: #4f5665;
}

.stats__content-middle {
  border-right: 2px solid #eeeff2;
  border-left: 2px solid #eeeff2;
}